.card {
  width: 200px;
  background: #454d55;
  margin: 2%;
  display: inline-block;
  white-space: pre;
  border: 3px solid #AAAAAA;
  max-height: 320px;
  border-radius: 15%;
  position: relative;
  text-align: center;
}

.unit{
  max-height: 330px;
}

.instant{
  max-height: 300px;
}


.name {
  margin: 5px;
  height: 20%;
  color: aliceblue;
  position: relative;
}

.name h5 {
  margin-top: 15px;
}

.name p {
  margin-bottom: 15px;
  text-align: center;
}

.stats {
  margin-top: 20px;
  height: 80%;
  white-space: right;
  color: aliceblue;
  text-align: left;
  padding-left: 10px;
  position: relative;
}


#price {
  text-align: center;
  margin: 10px 0;
}
