h2 {
  text-align: center;
}

.custom-container {
  margin-left: 5%;
  margin-right: 5%;
  vertical-align: middle;
}
.text {
  margin-top: 5%;
}
.card {
  text-align: center;
  width: 21%;
  background: #232323;
  padding-bottom: 21%;
  margin: 2%;
  display: inline-block;
  white-space: pre;
  border: 3px solid #AAAAAA;
  border-radius: 15%;
}
a{
  vertical-align: middle;
}
