.user-cards {
  overflow-x: scroll;
}


.add-remove {
  margin: auto;
  width: 80%;
  display: flex;
  justify-content: space-around;
}

.add-remove .quantity {
  display: flex;
  justify-content: flex-end;
}
