.container {
  height: 100%;
}

.row .text-center {
  display: flex;
  flex-wrap: wrap;
}

#top-row {
  display: flex;
  justify-content: space-around;
}

#purchase-block {
  display: flex;
}

#cartPrice {
  margin-left: 5px;
  font-size: 2.0em;
}

.price-post {
  visibility: hidden;
}

.optionsContainer {
  display: flex;
  justify-content: space-around;
}

.options {
  display: flex;
}

.quantityButtons {
  display: flex;
}

.amountInput {
  margin: 5px;
}

.dropbtn {
  margin: 20px;
  font-size: 1.5em;
  text-align: left;
}

.drop-content {
  overflow-y: scroll;
  white-space: normal;
  max-height: 500px;
  transition-property: all;
	transition-duration: .5s;
	transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}

.card-container {
  display: inline-block;
  margin: 5px;
}

.closed {
  max-height: 0px;
}

.glyphicon-menu-right {
  display: inline-block;
  font-size: 0.7em;
}

.rotate {
    -moz-transition: all 0.2s linear;
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

.rotate.down {
    -ms-transform:rotate(90deg);
    -moz-transform:rotate(90deg);
    -webkit-transform:rotate(90deg);
    transform:rotate(90deg);
}

.dropdown {
  clear: left;
}

#secondRow {
  clear: left;
}

.left {
  float: left;
}

.right {
  float: right;
}
