<% include partials/header.ejs %>

<link rel="stylesheet" href="/css/landing.css">


<h2>Welcome Back, Commander</h2>

<div class="container">
  <div class="row">
    <div class="card">
      <a href="./profile.ejs">Profile</a>
    </div>
    <div class="card">
      <a href="./newGame.ejs">New Game</a>
    </div>
    <div class="card">
      <a href="./activeGames.ejs">Active Games</a>
    </div>
  </div>
  <div class="row">
    <div class="card">
      <a href="./decks.ejs">Decks</a>
    </div>
    <div class="card">
      <a href="./store.ejs">Store</a>
    </div>
    <div class="card">
      <button type="button" name="button">Logout</button>
    </div>
  </div>
</div>

<% include partials/footer.ejs %>
