<% include partials/header.ejs %>

<link rel="stylesheet" href="/css/landing.css">


<h2>Welcome Back, Commander</h2>

<div class="container">
  <div class="row">
    <a class="card" href="/profile"><p class="text">Profile</p></a>

    <a class="card" href="/newGame"><p class="text">New Game</p></a>

    <a class="card" href="/activeGames"><p class="text">Active Games</p></a>
  </div>
  <div class="row">
      <a class="card" href="/decks"><p class="text">Decks</p></a>

      <a class="card" href="/store"><p class="text">Store</p></a>
      <a class="card" href="/signout"><button type="button" name="button">Logout</button></a>
  </div>
</div>

<% include partials/footer.ejs %>
