.row .text-center {
  display: flex;
  flex-wrap: wrap;
}

.card {
  width: 20%;
  background: #454d55;
  margin: 2%;
  display: inline-block;
  white-space: pre;
  border: 3px solid #AAAAAA;
  border-radius: 15%;
}

.dropbtn {
  font-size: 1.5em;
  text-align: left;
  width: 95%;
}

.drop-content {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: normal;
}

div h5 {
  text-align: center;
  color: aliceblue;
}

div p {
  white-space: nowrap;
  line-height: 5%;
  color: aliceblue;
  text-align: left;
  padding-left: 10px;
}
